:host {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;

    @media (max-width: 570px) {
        grid-template-columns: 1fr;
    }
}

.list-colors {
    display: flex;
    padding-right: 3rem;
    flex-direction: column;
    gap: 1rem;
}

code {
    margin-top: 2rem;
    padding: 1rem;
    background: var(--tui-background-base-alt);
    font-family: monospace;
}
