<div
    tuiAppearance="whiteblock"
    tuiCardLarge="normal"
    class="card"
>
    <header tuiHeader>
        <h2
            tuiTitle
            [style.text-align]="'center'"
        >
            Music
        </h2>
    </header>
    <div class="info">
        <img
            class="logo"
            [src]="tracks[activeIndex].logo"
        />
        <h2 class="tui-space_top-4 tui-space_bottom-2">
            {{ tracks[activeIndex].name }}
        </h2>
        <p
            class="tui-space_top-0 tui-space_bottom-0"
            [style.color]="'var(--tui-text-primary)'"
        >
            {{ tracks[activeIndex].performer }}
        </p>
    </div>
    <audio
        #audio
        tuiMedia
        [src]="tracks[activeIndex].src"
        [(currentTime)]="time"
        [(paused)]="paused"
        [(volume)]="volume"
        (ended)="nextTrack(audio)"
    ></audio>
    <div>
        <input
            size="m"
            tuiSlider
            type="range"
            [max]="audio.duration"
            [(ngModel)]="time"
        />
        <div class="duration">
            <p class="tui-space_top-0 tui-space_bottom-0">{{ getMinutes(time) }}:{{ getSeconds(time) }}</p>
            <p class="tui-space_top-0 tui-space_bottom-0">
                {{ getMinutes(tracks[activeIndex].length) }}:{{ getSeconds(tracks[activeIndex].length) }}
            </p>
        </div>
    </div>
    <div class="buttons">
        <button
            appearance="icon"
            iconStart="@tui.shuffle"
            tuiIconButton
            [tuiAppearanceState]="shuffle ? 'active' : null"
            (click)="shuffle = !shuffle"
        ></button>
        <button
            appearance="icon"
            iconStart="@tui.skip-back"
            tuiIconButton
            (click)="previousTrack(audio)"
        ></button>
        <button
            appearance="icon"
            tuiIconButton
            [iconStart]="this.paused ? '@tui.circle-play' : '@tui.circle-stop'"
            (click)="paused = !paused"
        ></button>
        <button
            appearance="icon"
            iconStart="@tui.skip-forward"
            tuiIconButton
            (click)="nextTrack(audio)"
        ></button>
        <button
            appearance="icon"
            iconStart="@tui.repeat"
            tuiIconButton
            [tuiAppearanceState]="repeat ? 'active' : null"
            (click)="repeat = !repeat"
        ></button>
    </div>
    <hr />
    <div class="volume">
        <tui-icon icon="@tui.volume-1" />
        <input
            max="1"
            size="m"
            step="0.01"
            tuiSlider
            type="range"
            [style.color]="'var(--tui-status-info)'"
            [(ngModel)]="volume"
        />
        <tui-icon icon="@tui.volume-2" />
    </div>
</div>
