@let info = info$ | async;
@if (info) {
    @let current = info.current;
    @let forecast = info.forecast.forecastday;
    <div
        tuiAppearance="whiteblock"
        tuiCardLarge="normal"
        class="card"
        [style.background-image]="getImage(current.condition.code)"
    >
        <header tuiHeader>
            <h2
                tuiTitle
                [style.color]="'var(--tui-text-primary-on-accent-1)'"
                [style.text-align]="'center'"
            >
                Weather
            </h2>
        </header>
        <div class="info">
            <div class="left-side">
                <h2
                    tuiTitle
                    class="tui-text_body-m"
                >
                    {{ info.location.name }}
                </h2>
                <h1 class="tui-space_top-3 tui-space_bottom-3">{{ current.temp_c }}°</h1>
                <div class="description">
                    <p
                        class="tui-space_top-0 tui-space_bottom-0"
                        [style.display]="'flex'"
                    >
                        <span [style.font-weight]="'600'">{{ current.dewpoint_c }}</span>
                        °/
                        <span [style.font-weight]="'600'">{{ current.heatindex_c }}</span>
                        °
                    </p>
                    <div class="indicator">
                        <tui-icon icon="@tui.wind" />
                        {{ current.wind_kph }}km/h
                    </div>
                    <div class="indicator">
                        <tui-icon icon="@tui.droplets" />
                        {{ current.humidity }}%
                    </div>
                </div>
                <p class="tui-space_top-0 tui-space_bottom-0 tui-text_body-s">
                    {{ current.condition.text }}
                </p>
            </div>
        </div>
        <div class="list-days">
            @for (card of forecast; track $index) {
                <div class="card-small">
                    <tui-icon
                        class="card-icon"
                        [icon]="getSmallImage(forecast[$index].day.condition.code)"
                    />
                    <div
                        class="left-side"
                        [style.align-items]="'center'"
                    >
                        <p
                            class="tui-space_top-0 tui-space_bottom-0"
                            [style.font-weight]="'600'"
                        >
                            {{ getWeekDay(forecast[$index].date) }}
                        </p>
                        <p class="tui-space_top-0 tui-space_bottom-0">
                            {{ forecast[$index].day.mintemp_c }}°/{{ forecast[$index].day.maxtemp_c }}°
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
}
