<div class="container">
    <div class="top-block">
        <table #scoreTable>
            <tr class="header">
                <td>Top 10 Players</td>
                <td>Points</td>
                <td>Online</td>
            </tr>
            <tr *ngFor="let player of playersArray"
                [ngClass]="{ 'current-player': player.playerId === playerId }">
                <td>{{ player.name }}</td>
                <td>{{ player.score }}</td>
                <td>{{ player.disconnected }} {{ player.disconnectTime }} {{ player.disconnectDuration }}</td>
            </tr>
        </table>
        <span (click)="showLog()">SHOW_LOG</span>
    </div>
     <div class="bottom-block">
        <!-- <div class="wrapper"> --> 
        <!-- <tui-push
        heading="Roy"
        type="Replicant"
     
    > -->
        <canvas id="screen" #screen></canvas>
    <!-- </tui-push> -->
 <!-- </div> -->
    </div> 
</div>
<img style="display:none;" #potionsImg src="./assets/img/tmp4.png" />
