<div class="tiles">
    <lmb-small-card />
    <div class="top">
        <lmb-electricity />
        <div class="under-top">
            <lmb-contacts />
            <lmb-cleaning />
        </div>
    </div>
    <div class="bottom">
        <lmb-safety />
        <lmb-cost />
        <lmb-climate-control class="control" />
    </div>
    <div class="middle">
        <div class="column">
            <lmb-lighting class="grow" />
            <lmb-weather class="grow" />
        </div>
        <lmb-music />
    </div>
</div>
