@for (i of controlPanelService; track $index) {
    <button
        tuiCardLarge
        tuiHeader
        tuiSurface="elevated"
        class="button-card"
        (click)="states[$index] = !states[$index]"
    >
        <aside tuiAccessories>
            <tui-avatar
                appearance=""
                size="l"
                [src]="!states[$index] ? i.img : i.clickedImg"
                [style.color]="'var(--tui-background-accent-opposite)'"
            />
        </aside>

        <h2 class="text">
            {{ !states[$index] ? i.name : i.clickedName }}
        </h2>
    </button>
}
