<header
    tuiHeader="l"
    [style.margin-top]="'1.25rem'"
>
    <h2
        tuiTitle
        [style.text-align]="'center'"
    >
        Taiga Lumbermill
    </h2>
</header>
<p class="description">
    This project contains a comprehensive set of ready-made templates, dashboards, and pages built using the Taiga UI
    component library. Our goal is to provide developers with a robust foundation for quickly creating beautiful and
    functional web applications.
</p>
<div class="row">
    <div
        routerLink="/dashboards"
        tuiAppearance="whiteblock"
        tuiCardLarge="normal"
        class="card"
    >
        <div>
            <header tuiHeader>
                <h2
                    tuiTitle
                    [style.text-align]="'center'"
                >
                    Dashboards
                </h2>
            </header>
        </div>
    </div>
    <div
        routerLink="/theme"
        tuiAppearance="whiteblock"
        tuiCardLarge="normal"
        class="card"
    >
        <div>
            <header tuiHeader>
                <h2
                    tuiTitle
                    [style.text-align]="'center'"
                >
                    Theme generator
                </h2>
            </header>
        </div>
    </div>
</div>
